body {
	background-color: white;
}

h1 {
	background-color: cyan;
	text-align: center;
}

p#welcome {
	font-weight: bold;
	color: green;
}

h2 {
	border: 1px solid red;
	border-left: 5px solid red;
}

ul li {
	list-style-type: lower-greek;
}

.myStyle {
	font-weight: bold;
	border: 1px solid gray;
}

.indent {
	margin-left: 2em;
}

.error {
	color: red;
}

table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

table th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid gray;
	background: lightgray;
}

table td {
    width: 150px;
	padding: 10px;
	vertical-align: top;
	border: 1px solid gray;
}
