body {
	background-color: lightgrey;
}

h1 {
	background-color: cyan;
	text-align: center;
}

p#welcome {
	font-weight: bold;
	color: green;
}

h2 {
	border: 1px solid red;
	border-left: 5px solid red;
}

ul li {
	list-style-type: lower-greek;
}

.myStyle {
	font-weight: bold;
	border: 1px solid gray;
}

div.indent {
	margin-left: 4em;
}
